<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block scripts %}

    <!-- stylesheets -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css"/>

    <!-- jQuery sources -->
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>

    <!-- bootstrap sources -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    <!-- app specific sources -->
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <script src="{{ STATIC_URL }}js/communication.js"></script>

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon_best.ico" type="image/x-icon">
    <link rel="icon" href="{{ STATIC_URL }}img/favicon_best.ico" type="image/x-icon">

    {% endblock scripts %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="center-content">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Home</a>
                <a class="navbar-brand" href="#">Search</a>
            </div>
        </nav>

        <div id="content-container">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>
</html>