{% extends 'base.html' %}
{% block content %}
    <div id="home-page-container">
        <div id="actions-container">
            <button type="button" class="btn btn-sm btn-primary" id="download-pause-btn" disabled="disabled">
                <span class="action-btn glyphicon glyphicon-pause glyphicon-big"></span>
            </button>

            <button type="button" class="btn btn-sm btn-primary" id="download-resume-btn" disabled="disabled">
                <span class="action-btn glyphicon glyphicon-play glyphicon-big"></span>
            </button>

            <button type="button" class="btn btn-sm btn-primary" id="download-remove-btn" disabled="disabled">
                <span class="action-btn glyphicon glyphicon-remove glyphicon-big"></span>
            </button>
        </div>

        <!--<iframe id="item_list_iframe" seamless="seamless" src="/item_list" sandbox="allow-same-origin allow-top-navigation allow-scripts" frameborder="0">-->
            <!--<p>Your browser does not support iframes.</p>-->
        <!--</iframe>-->

        <div id="download-progress-table-wrapper">
            <table class="table table-condensed" id="home-items-table">
                <thead id="home-items-table-header">
                    <th class="transfer-name">Name</th>
                    <th class="transfer-progress">Progress</th>
                    <th class="transfer-size">Size</th>
                    <th class="transfer-status">Status</th>
                    <th class="transfer-download-rate">Download rate</th>
                    <th class="transfer-eta">ETA</th>
                    <th class="transfer-added-on">Added on</th>
                </thead>
                <tbody>

                    <tr class="home-item hidden">
                        <td class="vert-align transfer-name"></td>
                        <td class="vert-align progress-wrapper transfer-progress">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success transfer-progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                </div>
                            </div>
                        </td>
                        <td class="vert-align transfer-size"></td>
                        <td class="vert-align transfer-status"></td>

                        <td class="vert-align transfer-download-rate"></td>
                        <td class="vert-align transfer-eta"></td>
                        <td class="vert-align transfer-added-on"></td>


                        <td class="vert-align transfer-hash hidden"></td>
                        <td class="vert-align transfer-chunk-size hidden"></td>
                        <td class="vert-align transfer-save-as hidden"></td>
                        <td class="vert-align transfer-wasted hidden"></td>
                        <td class="vert-align transfer-time-elapsed hidden"></td>
                        <td class="vert-align transfer-pieces hidden"></td>
                        <td class="vert-align transfer-downloaded hidden"></td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div id="item_details_container">

            <div id="transfer-details" class="container-fluid">
                <div id="download-progress-bar-wrapper">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success item-details-progress-bar hidden" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                            <!--<span>100%</span>-->
                        </div>
                    </div>
                </div>

                <h3>Transfer</h3>
                <div class="OuterMostClass row">
                    <div class="outerClass col-xs-6">
                        <dl class="dl-horizontal item_details_transfer">

                            <dt class="transfer_attr">Downloaded:</dt>
                            <dd class="transfer_value item-details-downloaded"></dd>

                            <dt class="transfer_attr">Download rate:</dt>
                            <dd class="transfer_value item-details-download-rate"></dd>

                            <dt class="transfer_attr">ETA:</dt>
                            <dd class="transfer_value item-details-eta"></dd>

                            <dt class="transfer_attr">Time elapsed:</dt>
                            <dd class="transfer_value item-details-time-elapsed"></dd>
                        </dl>
                    </div>
                    <div class="outerClass2 col-xs-6">
                        <dl class="dl-horizontal item_details_transfer">
                            <dt class="transfer_attr">Status:</dt>
                            <dd class="transfer_value item-details-status"></dd>

                            <dt class="transfer_attr">Pieces:</dt>
                            <dd class="transfer_value item-details-pieces"></dd>

                            <dt class="transfer_attr">Piece size:</dt>
                            <dd class="transfer_value item-details-piece-size"></dd>

                            <dt class="transfer_attr">Wasted:</dt>
                            <dd class="transfer_value item-details-wasted"></dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div id="general-details" class="container-fluid">
                <h3>General</h3>
                <div class="OuterMostClass row">
                    <div class="outerClass col-xs-12">
                        <dl class="dl-horizontal item_details_transfer">
                            <dt class="transfer_attr">Name:</dt>
                            <dd class="transfer_value item-details-name"></dd>

                            <dt class="transfer_attr">Save as:</dt>
                            <dd class="transfer_value item-details-save-as"></dd>

                            <dt class="transfer_attr">Total size:</dt>
                            <dd class="transfer_value item-details-total-size"></dd>

                            <dt class="transfer_attr">Hash:</dt>
                            <dd class="transfer_value item-details-hash"></dd>

                            <dt class="transfer_attr">Added on:</dt>
                            <dd class="transfer_value item-details-added-on"></dd>
                        </dl>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock content %}