<!DOCTYPE html>
<html>
<head>
    <!-- stylesheets -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css"/>
</head>
<body>
    <div id="item_details_container">

        <div id="transfer-details" class="container-fluid">
            <div class="OuterMostClass row">
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                    </div>
                </div>
                <div class="outerClass col-xs-6">
                    <dl class="dl-horizontal item_details_transfer">
                        <dt class="transfer_attr">Status:</dt>
                        <dd class="transfer_value">GDDD</dd>

                        <dt class="transfer_attr">Downloaded:</dt>
                        <dd class="transfer_value">XX</dd>

                        <dt class="transfer_attr">Download rate:</dt>
                        <dd class="transfer_value">YY</dd>

                        <dt class="transfer_attr">ETA:</dt>
                        <dd class="transfer_value">CCCC</dd>
                    </dl>
                </div>
                <div class="outerClass2 col-xs-6">
                    <dl class="dl-horizontal item_details_transfer">
                        <dt class="transfer_attr">Pieces:</dt>
                        <dd class="transfer_value">dddd</dd>

                        <dt class="transfer_attr">Hash:</dt>
                        <dd class="transfer_value">bb</dd>

                        <dt class="transfer_attr">aaa:</dt>
                        <dd class="transfer_value">bb</dd>

                        <dt class="transfer_attr">aaa:</dt>
                        <dd class="transfer_value">bb</dd>
                    </dl>
                </div>
            </div>
        </div>

        <div id="general-details" class="container-fluid">
            <div class="OuterMostClass row">
                <div class="outerClass col-xs-6">
                    <dl class="dl-horizontal item_details_transfer">
                        <dt class="transfer_attr">aaa:</dt>
                        <dd class="transfer_value">bb</dd>

                        <dt class="transfer_attr">aaa:</dt>
                        <dd class="transfer_value">bb</dd>

                        <dt class="transfer_attr">aaa:</dt>
                        <dd class="transfer_value">bb</dd>

                        <dt class="transfer_attr">aaa:</dt>
                        <dd class="transfer_value">bb</dd>
                    </dl>
                </div>
                <div class="outerClass2 col-xs-6">
                    <dl class="dl-horizontal item_details_transfer">
                        <dt class="transfer_attr">cccc:</dt>
                        <dd class="transfer_value">dddd</dd>

                        <dt class="transfer_attr">aaa:</dt>
                        <dd class="transfer_value">bb</dd>

                        <dt class="transfer_attr">aaa:</dt>
                        <dd class="transfer_value">bb</dd>

                        <dt class="transfer_attr">aaa:</dt>
                        <dd class="transfer_value">bb</dd>
                    </dl>
                </div>
            </div>
        </div>

    </div>
</body>
</html>