.center-content {
  width: 960px;
  margin: 0 auto;
}

#search-box-container,
#search-btn-container {
  display: inline;
}

#content-container {
  padding-top: 40px;
}

.img-centered {
    display: block;
    margin-left: auto;
    margin-right: auto
}